{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}About{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="about" %}
{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}

<div id="sec1" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>{% include "_brandname.html" %}</h1>
        <p class="lead">Synergy is a web based application that uses past data and analyses current trends to implement a dynamic pricing scheme on electrical energy. </p>
  <p class="lead">It requires previous weather reports, and climatic information to forecast the weather and predict demand. This is then used to adjust the price during peak loads. </p>
  <p class="lead">Customer informations such as income, square footage etc. is used to categorize them and rank the customers based on their energy consumptions. </p>
  <p class="lead">Once the price is obtained, the system can help the user with his usage capacity.</p>
      </div>
    </div>
  </div>
</div>

<div id="sec2" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Meet The Team</h2>
        <p class="lead">Mar Baselios College of Engineering & Technology</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="text-center"><img class="img-circle centered" src="team-2.jpg" alt="profile pic"></div>
        <p class="heavy text-center" style=" margin-top: 5px;">Anju Parvathy</p>     
      </div>
      <div class="col-lg-3">
        <div class="text-center"><img class="img-circle centered" src="team-2.jpg" alt="profile pic"></div>
        <p class="heavy text-center" style=" margin-top: 5px;">Namitha Vimal</p>    
      </div>
      <div class="col-lg-3">
        <div class="text-center"><img class="img-circle centered" src="team-1.jpg" alt="profile pic"></div>
        <p class="heavy text-center" style=" margin-top: 5px;">Abhijith V.</p>
      </div>
       <div class="col-lg-3">
        <div class="text-center"><img class="img-circle centered" src="team-1.jpg" alt="profile pic"></div>
        <p class="heavy text-center" style=" margin-top: 5px;">Binoy J.</p>
      </div>
    </div>
    </div>
  </div>
</div>


{% endblock container %}
